*{
    padding: 0;
    margin: 0;
    background-color: #FAE3B6;
}
.container {
    width: 1320px;
    display: flex;
    margin: auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    border: none;
    cursor: pointer;
}

/* ==================Navigation Bar================== */


nav .container {
    justify-content: space-between;
    align-items: center;
}

nav .container ul {
    display: flex;
    width: 647px;
    justify-content: space-between;
    margin: 30px auto;
    margin-left: 80px;
}

nav .container ul li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}

nav .container .button button:first-child {
    padding: 10px 27px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #FAE3B6;
    border-radius: 10px;
    border: 1px solid #F2D09B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: .4s;
}
nav .container .button button:first-child:hover {
    border-color: transparent;
    background-color: #FDBB57;
    box-shadow: 0px 4px 4px black;
}
nav .container .button button:last-child {
    padding: 10px 15px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    background-color: #FDBB57;
    border-radius: 10px;
    margin-left: 10px;
    transition: .4s;
}
nav .container .button button:last-child:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FAE3B6;
}
/* ==================Navigation Bar================== */


section .container {
    margin-top: 80px;
}
section .container .left{
    width: 50%;
}
section .container .left h1{
    width: 500px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 64px;
    color: #000000;
}
section .container .left p{
    width: 531px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    margin: 38px 0px 76px 0px;
}
section .container .left button{
    padding: 25px 91px;
    background-color: black;
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    transition: .4s;
    border: 2px solid transparent;
}
section .container .left button:hover{
    color: red;
    border: 2px solid red;
}
section .container .right{
    width: 50%;
}